<footer class="footer">
    <section class="box3 central-column">
        <nav>
          <ul class="firstList">
            <li>Articles</li>
            <li>Books</li>
            <li>Events</li>
            <li>Reasons</li>
            <li>Tips</li>
          </ul>
        </nav>
        <nav>
          <ul class="secondList">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Mastodon.social</li>
          </ul>
        </nav>
        <small class="rights">&copy;2021 </small>
        <small class="components">we <i class="fa fa-heart" aria-hidden="true"></i> components</small>
    </section>
  </footer>